@charset "utf-8";

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:12px;
    color:#1e1e1e;
    letter-spacing:0.1em;
    line-height:1.5;
}
a:link, a:visited{
    color:#1e1e1e;
    text-decoration:none;
}
a:hover, a:focus{
    font-weight:bold;
}
img{
    vertical-align:top;
}
.m_blind{
    position:absolute;
    left:-9999px;
}
.m_center{
    width:1260px;
    margin:0 auto;
}
.m_clear_fix:after{
    content:'';
    clear:both;
    display:block;
}
#mb_toggle, #mb_gnb{
    display:none;
}

.pc_content{
    display:block;
}
.mb_content{
    display:none;
}
/* skip */
.skip>a{
    display:block;
    position:absolute;
    left:-9999px;
    width:100%;
    padding:20px 0px;
    background:#1e1e1e;
    text-align:center;
    font-size:1.2em;
    z-index:9999;
}
.skip>a:focus{
    left:0px;
    color:#f7f5f4;
}

/* header */
#m_hd_wrap{
    padding:22px 0px;
    color:#787970;
}
#m_hd_wrap a:hover, #m_hd_wrap a:focus{
    color:#1e1e1e;
}
.m_util1{
    float:left;
    padding-bottom:14px;
}
.m_util1>a{
    padding-left:15px;
}
.m_util1>a:nth-child(1){
    margin-right:10px;
    background-image:url(../img/common/icon1.png);
    background-repeat:no-repeat;
    background-position:0px 1px;
}
.m_util1>a:nth-child(2){
    background-image:url(../img/common/icon2.png);
    background-repeat:no-repeat;
    background-position:0px 2px;
}
.m_util2{
    float:right;
}
.m_util2>ul>li{
    float:left;
    margin-left:10px;
}
.m_util2>ul>li:first-child>a{
    padding-right:10px;
    border-right:1px solid #ccc;
}
.m_util2>ul>li>a>img{
    margin-top:2px;
}
.m_header_logo{
    position:relative;
}
.m_header_logo>h1>a{
    display:block;
    width:179px;
    height:34px;
    margin:0 auto;
    text-indent:-9999px;
    background-image:url(../img/common/header_logo.png);
    background-repeat:no-repeat;
}

/* nav */
#m_con1{
    position:relative;
    border-top:1px solid #ccc;
    background-color:#000;
    z-index:9999;
}
#m_gnb>ul>li{
    float:left;
    margin-right:40px;
    font-size:1.2em;
}
#m_gnb>ul>li>a{
    display:block;
    padding:20px 0px;
    color:#f7f5f4;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
#m_gnb>ul>li>a:hover, #m_gnb>ul>li>a:focus{
    color:#f7e2d9;
}

/* 2depth_common */
.m_sub_wrap{
    display:none;
    position:absolute;
    top:59px;
    left:0px;
    width:100%;
}
.m_sub_wrap>div.m_center{
    position:relative;
    padding-top:40px;
    padding-bottom:97px;
    height:400px;
    box-sizing:border-box;
}
.m_sub_wrap>div>div:first-child{
    float:left;
    width:220px;
    margin-right:34px;
    color:#f7f5f4;
}
.m_sub_wrap>div>div:first-child>h3{
    margin-bottom:30px;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    font-weight:bold;
}
.m_sub_wrap>div>div:first-child>>p{
    font-size:14px;
    color:#f7f5f4;
}
.m_sub_wrap>div>ul{
    float:left;
}
.m_sub_wrap>div>ul>li{
    font-size:14px;
    font-weight:bold;
    line-height:2.5em;
}
.m_sub_wrap>div>ul>li>a{
    color:#f7f5f4;
}
.m_sub_wrap>div>ul>li>a:hover, .m_sub_wrap>div>ul>li>a:focus{
    color:#f7e2d9;
}
.m_sub_wrap>div>div:last-child{
    position:absolute;
    bottom:97px;
    text-shadow:1px 1px 1px #eee;
}
.m_sub_wrap>div>div:last-child>strong{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight:bold;
}
.m_sub_wrap>div>div:last-child>p{
    font-size:17px;
    font-weight:bold;
}
#m_gnb li:nth-of-type(1)>div{
    background-image:url(../img/common/2dp_banner1.png);
    background-repeat:no-repeat;
}
#m_gnb li:nth-of-type(2)>div{
    background-image:url(../img/common/2dp_banner2.png);
    background-repeat:no-repeat;
}
#m_gnb li:nth-of-type(3)>div{
    background-image:url(../img/common/2dp_banner3.png);
    background-repeat:no-repeat;
}
#m_gnb li:nth-of-type(4)>div{
    background-image:url(../img/common/2dp_banner4.png);
    background-repeat:no-repeat;
}
#m_gnb li:nth-of-type(5)>div{
    background-image:url(../img/common/2dp_banner5.png);
    background-repeat:no-repeat;
}
#m_gnb li:nth-of-type(6)>div{
    background-image:url(../img/common/2dp_banner6.png);
    background-repeat:no-repeat;
}

/* 2depth_each */
#m_gnb li:nth-of-type(6)>div.m_sub_wrap>div>div:last-child{
    right:80px;
    color:#d5eef2;
}
#m_gnb li:nth-of-type(6)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:50px;
}
#m_gnb li:nth-of-type(5)>div.m_sub_wrap>div>div:last-child{
    right:95px;
    color:#55372b;
}
#m_gnb li:nth-of-type(5)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:50px;
}
#m_gnb li:nth-of-type(4)>div.m_sub_wrap>div>div:last-child{
    right:100px;
    color:#a95b6f;
}
#m_gnb li:nth-of-type(4)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:50px;
}
#m_gnb li:nth-of-type(3)>div.m_sub_wrap>div>div:last-child{
    right:28px;
    bottom:103px;
    color:#a12123;
}
#m_gnb li:nth-of-type(3)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:55px;
}
#m_gnb li:nth-of-type(2)>div.m_sub_wrap>div>div:last-child{
    right:0px;
    bottom:90px;
    color:#7d4050;
}
#m_gnb li:nth-of-type(2)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:55px;
}
#m_gnb li:nth-of-type(1)>div.m_sub_wrap>div>div:last-child{
    right:349px;
    bottom:83px;
    color:#f4eae6;
    text-shadow:none;
}
#m_gnb li:nth-of-type(1)>div.m_sub_wrap>div>div:last-child>p{
    margin-top:50px;
}

/* search_wrap */
div.m_search_wrap{
    position:absolute;
    top:15px;
    left:50%;
    margin-left:430px;
    background:#ccc;
}
div.m_search_wrap>form>fieldset{
    width:200px;
}
div.m_search_wrap>form>fieldset:after{
    position:absolute;
    top:0px;
    right:35px;
    content:'';
    display:block;
    height:28px;
    border:1px solid #1e1e1e;
}
#m_search{
    width:100%;
    height:30px;
    border:none;
    padding:0px;
}
div.m_search_wrap>form>fieldset>input:nth-of-type(2){
    position:absolute;
    top:4px;
    right:6px;
    width:22px;
    height:22px;
}

/* footer */
#m_ft{
    margin-top:140px;
    background:#000;
    color:#f7f5f4;
}
#m_ft a{
    color:#f7f5f4;
}
#m_ft>div{
    position:relative;
    padding:50px 0px;
}
#m_ft>div>div:nth-child(1){
    padding-bottom:45px;
}
#m_ft>div>div>#m_footer_logo{
    float:left;
    width:246px;
    height:46px;
    margin-right:145px;
    margin-left:80px;
    text-indent:-9999px;
    background-image:url(../img/common/m_logo_footer.png);
    background-repeat:no-repeat;
    color:#1e1e1e;
}
#m_ft>div>div:nth-child(1)>ul{
    float:left;
}
#m_ft>div>div:nth-child(1)>ul>li:nth-child(1), #m_ft>div>div:nth-child(1)>ul>li:nth-child(2), #m_ft>div>div:nth-child(1)>ul>li:nth-child(3){
    float:left;
    width:50px;
    height:50px;
    margin-right:15px;
    background-image:url(../img/common/facebook.png);
    background-repeat:no-repeat;
}
#m_ft>div>div:nth-child(1)>ul>li:nth-child(2){
    background-image:url(../img/common/insta.png);
    background-repeat:no-repeat;
}
#m_ft>div>div:nth-child(1)>ul>li:nth-child(3){
    background-image:url(../img/common/twitter.png);
    background-repeat:no-repeat;
}
#m_ft>div>div:nth-child(1)>ul>li:nth-child(1)>a, #m_ft>div>div:nth-child(1)>ul>li:nth-child(2)>a, #m_ft>div>div:nth-child(1)>ul>li:nth-child(3)>a{
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999px;
}
#m_ft>div>div:nth-child(1)>div{
    float:right;
    margin-right:80px;
}
#m_ft>div>div:nth-child(1)>div>h3{
    padding:10px 30px 10px 20px;
    font-size:16px;
    font-weight:bold;
    background:#f7f5f4;
    color:#1e1e1e;
    cursor:pointer;
    font-family:"Roboto", sans-serif;
    background-image:url(../img/common/m_button1.png);
    background-repeat:no-repeat;
    background-position:120px center;
}


#m_ft>div>div:nth-child(1)>div>ul{
    display:none;
    position:absolute;
    top:-147px;
    right:79px;
    padding:20px 0px;
    border:1px solid #1e1e1e;
    box-shadow:1px 1px 2px #555;
    background:#f7f5f4;
}
#m_ft>div>div:nth-child(1)>div>ul>li>div{
    margin-left:100px;
    float:left;
}
#m_ft>div>div:nth-child(1)>div>ul>li>div:last-child{
    margin-right:100px;
}
#m_ft>div>div:nth-child(1)>div>ul>li>div>span{
    display:block;
    margin-bottom:20px;
    font-size:14px;
    font-weight:bold;
    color:#1e1e1e;
}
#m_ft>div>div:nth-child(1)>div>ul>li:after{
    position:absolute;
    top:51px;
    left:57.5px;
    content:'';
    display:block;
    width:450px;
    height:1px;
    background:#1e1e1e;
}
#m_ft>div>div:nth-child(1)>div>ul>li>div>ul>li>a{
    font-size:13px;
    font-weight:normal;
    color:#797979;
}
#m_ft>div>div:nth-child(1)>div>ul>li>div>ul>li>a:hover, #m_ft>div>div:nth-child(1)>div>ul>li>div>ul>li>a:focus{
    text-decoration:none;
    color:#000;
}
#m_ft>div>div:nth-child(2){
    font-size:14px;
    letter-spacing:0;
    color:#aaa;
}
#m_ft>div>div:nth-child(2)>section{
    float:left;
    margin-left:80px;
    margin-right:165px;
}
#m_ft>div>div:nth-child(2)>section>a{
    display:inline-block;
    padding:5px 10px;
    margin-top:10px;
    color:#aaa;
}
#m_ft>div>div:nth-child(2)>section>a:hover, #m_ft>div>div:nth-child(2)>section>a:focus{
    color:#fff;
    font-weight:normal;
}
#m_ft>div>div:nth-child(2)>div:nth-of-type(1){
    float:left;
}
#m_ft>div>div:nth-child(2)>div:nth-of-type(1)>a{
    color:#aaa;
}
#m_ft>div>div:nth-child(2)>div:nth-of-type(1)>a:hover, #m_ft>div>div:nth-child(2)>div:nth-of-type(1)>a:focus{
    color:#fff;
    font-weight:normal;
}
#m_ft>div>div:nth-child(2)>div:nth-of-type(2){
    float:right;
    margin-top:53px;
    margin-right:80px;
}



















